doctype html
html(lang="ru")
	head
		include utils/meta
		link(rel="stylesheet", href="css/style.min.css")
		link(rel="shortcut icon", href="files/favicon.ico")
		include utils/fonts
		title Main Page
	body
		include components/header

		.site-wrapper
			header.header
			aside.sidebar 
			.content
				.text-1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sed placeat adipisci explicabo illo magnam facilis, odit fugiat eos in earum animi aut praesentium culpa eaque exercitationem at mollitia magni corporis sequi. Veritatis repellat iste vero consequatur tempora, animi itaque. Asperiores alias explicabo magnam omnis molestias ipsam non eligendi consequuntur, ducimus facere! Magnam ea maxime officia, dolore obcaecati eveniet omnis.
				.text-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea commodi optio blanditiis voluptates cum doloremque possimus quidem ut dignissimos molestiae magnam nostrum architecto quisquam laudantium animi aut, quas consectetur, sed voluptate iusto in cupiditate maxime expedita! Eveniet illum voluptas perferendis numquam quia. Ipsum itaque quam ut, sit sint est blanditiis molestias enim excepturi accusamus vel libero aliquam, fugit odio quaerat repudiandae quasi omnis? Nulla minima iure aliquam quo itaque consectetur, veniam tempora voluptatibus voluptates, soluta, in ipsum eum ex sunt commodi a. Eveniet quia non nemo alias ullam perspiciatis reprehenderit amet tenetur! Laboriosam molestias debitis eligendi explicabo iste optio repudiandae deserunt, reprehenderit eaque modi culpa perspiciatis est! Maxime minus enim dignissimos, magnam deleniti architecto, quibusdam sequi, dicta autem ipsa placeat saepe rem iste quisquam quia nemo tenetur voluptas natus nihil facilis accusamus perferendis? Cupiditate praesentium sit, quisquam dignissimos ducimus id placeat nulla dolore cum, animi mollitia vel, quo blanditiis asperiores. Quos aliquam iure adipisci consequatur quam magni officia odit quibusdam maxime, beatae sapiente eaque sint, minima provident esse necessitatibus? Nihil esse facilis dignissimos iure quae maxime laborum enim porro! Ullam, consectetur tenetur voluptate consequatur dolores vitae aliquid rerum ipsa nam iusto. Dolore debitis voluptatum libero labore doloribus nesciunt illo similique!
				.text-3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla animi sed autem tenetur ea a. Ullam, fugit asperiores delectus culpa inventore, voluptate quia autem dolorum quod rem, aperiam assumenda ducimus neque ipsa totam pariatur. Voluptate illo, molestias magnam commodi optio hic quo ad quaerat, in, ratione aliquam et ducimus. Illo fuga labore deleniti veritatis totam minus voluptates distinctio dignissimos iure, itaque quas est iusto, quos consectetur eveniet ducimus saepe obcaecati error? Aperiam atque, sint magni odio facilis soluta iusto reiciendis commodi debitis perferendis saepe cumque assumenda? Aperiam incidunt officia quaerat quis nulla est facere voluptatum! Aut tempore rem corrupti sed.
			footer.footer

		include components/footer
		script(src='js/app.min.js')
